.quiz-background{
    width: 100vw;
    height: 100vh;
    background-color: #d4b7ff;
    margin: 0;
    display: flex;
    position: relative;
} 

.pop-up{
    background-color: white;
    width: 650px;
    height: 450px;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 10px #c8b6ff;
    text-align: center;
}

.pop-up h2{
    text-align: center;
    margin-top: 0;
}

.pop-up hr{
    height: 1px;
    background: #595959;
}

.pop-up h3{
    margin-top: 20px;
    text-align: center;
    color: black;
}

.pop-up ul li{
    display: flex;
    border: 1px solid rgb(240, 175, 255);
    background-color: #cbb2fe;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;
     transition: background-color 0.2s ease;
}

.pop-up ul li:hover {
    background-color: #b191f9;
}
.index{
    margin-top: 20px;
}

.result-screen{
    width: 100vw;
    height: 100vh;
    background-color: #d4b7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

.result-screen h2{
    font-size: 28px;
    margin-bottom: 10px;
}

.result-screen h1{
    font-size: 48px;
    font-weight: bold;
    color: #a261ff;
    margin-bottom: 40px;
    text-shadow: 2px 2px #e5d4ff;
}

.result-screen button{
    background-color: #a261ff;
    border: none;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 4px 5px #c8b6ff;
}

.result-screen button:hover{
    background-color: #8d49f7;
    transform: scale(1.05);   
}