.auth-background {
  width: 100vw;
  height: 100vh;
  background-color: #e7ecef;
  margin: 0;
  display: flex;
  position: relative;
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  height: 375px;
  padding: 20px;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.auth-page h1 {
  color: black;
  font-size: 25px;
  top: 10%;
}

.auth-page button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 15px;
  margin-top: 2px;
}

.auth-page label {
  font-size: 15px;
}

.auth-page button:hover {
  transform: scale(1.2);
  background-color: #c8b6ff;
  color: white;
}
